<h2>Details about devices and the energy consumpiton</h2>
<ul class="devices">
  <li *ngFor="let dataInfo of dataInfoSet">
      Device: <strong>{{dataInfo.device.description}}</strong>  having an average consumtion of: <strong>{{dataInfo.device.averageConsumption}}</strong> with the following data:
      <ul class="monitoreddata">
      <li *ngFor="let data of dataInfo.monitoredDatas">
          Registered at: <strong>{{data.date}}</strong> having the following energy consumption <strong>{{data.energyConsumption}}</strong>
      </li>
    </ul>
  </li>
</ul>