<p>Create new device</p>



<form [formGroup]="deviceForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="new-device">Description: </label>
    <input id="new-device" formControlName="description"/>
  </div>
  <div>
    <label for="new-device">Location: </label>
    <input id="new-device" formControlName="location"/>
  </div>
  <div>
    <label for="new-device">Owner: </label>
      <select formControlName="ownerUid">
        <option *ngFor="let user of allUsers" [value]="user.uid">
          {{user.name}}
        </option>
      </select>
  </div>
  <div>
    <label for="new-device">Sensor: </label>
      <select formControlName="sensorUid">
        <option *ngFor="let sensor of allAvailableSensors" [value]="sensor.uid">
          {{sensor.description}}
        </option>
      </select>
  </div>
  <!-- <div>
    <label for="new-device">Max Consumption: </label>
        <input value=0 id="new-device" type="number" formControlName="maxConsumption"/>
  </div>
  <div>
    <label for="new-device">Average Consumption: </label>
        <input value=0 id="new-device" type="number" formControlName="averageConsumption"/>
  </div> -->
  <p>Complete the form to enable button.</p>
  <button type="submit" [disabled]="!deviceForm.valid">Submit</button>

</form>