<div *ngIf="user">

    <h2>User Details</h2>
    <div>
      <label for="name">Name </label>
      <input type="text" id="name" min=0 [(ngModel)]="user.name" placeholder="name">
    </div>
    <div>
        <label for="address">Address </label>
        <input type="text" id="address" min=0 [(ngModel)]="user.address" placeholder="address">
      </div>
      <div>
        <label for="birthdate">Birthdate </label>
        <input type="date" id="birthdate" min=0 [(ngModel)]="user.birthdate" placeholder="birthdate">
      </div>
      <div>
        <label for="username">Username </label>
        <input type="text" id="username" min=0 [(ngModel)]="user.username" placeholder="username">
      </div>
      <!-- <div>
        <label for="password">Name </label>
        <input type="text" id="password" min=0 [(ngModel)]="user.password" placeholder="password">
      </div> -->
      <div *ngIf="deviceSet" class="users">
        <h3>Owned devices</h3>
        <li *ngFor="let device of deviceSet">
          <a routerLink="/devices/edit/{{device.uid}}">
          {{device.description}}
          </a>
        </li>
      </div>
    <button (click)="goBack()">go back</button>
    <button (click)="save()">save</button>
</div>
  