/* HeroesComponent's private CSS styles */
.devices {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: fit-content;
    /*width: 100%;/*15em;*/
  }
  
  .devices li {
    position: relative;
    cursor: pointer;
    width: fit-content;
  }
  
  .devices li:hover {
    left: .1em;
  }
  
  .devices a {
    color: #333;
    text-decoration: none;
    background-color: #EEE;
    margin: .5em;
    padding: .3em 0;
    height: 1.6em;
    border-radius: 4px;
   display: block; 
    width: 100%;
  }
  
  .devices a:hover {
    color: #2c3a41;
    background-color: #e6e6e6;
  }
  
  .devices a:active {
    background-color: #525252;
    color: #fafafa;
  }
  
  .devices .badge {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color: #405061;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 1.8em;
    min-width: 16px;
    text-align: right;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
  }
  
  .add-button {
    padding: .5rem 1.5rem;
    font-size: 1rem;
    margin-bottom: 2rem;
  }
  
  .add-button:hover {
    color: white;
    background-color: #42545C;
  }
  
  button.delete {
     position: absolute;
    left: 600px;
    top: 2px; 
    background-color: white;
    color: #525252;
    font-size: 1.1rem;
    padding: 1px 10px 3px 10px;
  }
  
  button.delete:hover {
    background-color: #525252;
    color: white;
  }
  
  .backdrop {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: inherit; /* Enable scroll if needed */
    /*   background-color: rgb(0,0,0); Fallback color */
    /*  background-color: rgba(0,0,0,0.4); Black w/ opacity */
    font-family: "Poppins", sans-serif;
  }
  
  .miniHeader {
    display: flex;
    justify-content: space-between;
    text-align: justify;
    align-items: center;
    font-family: "Poppins", sans-serif;
  }
  
  .modal-content {
    /* position: relative; */
    top: 0;
    background-color: rgba(76, 175, 80, 0.3);
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    height: fit-content; /*780px;*/
    width: fit-content; /* 500px;*/
    border-radius: 50px;
    border-color: black;
    font-family: "Poppins", sans-serif;
  }
  
  button {
    /* margin-top: 20px; */
    background-color: #eee;
    padding: 1rem;
    border-radius: 4px;
    font-size: 0.7rem;
  }
  
  button:hover {
    background-color: #cfd8dc;
  }
  
  button:disabled {
    background-color: #eee;
    color: #ccc;
    cursor: auto;
  }
  